body {
  background-color: #001e46;
  margin: 0px;
  /* border-width: 15px;
  border-color: #e01b77;
  border-style: groove;
  height: 100vh;
  box-sizing: border-box; */
}

h1 {
  /* text-align: center;
  color: #e01b77; */
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 400%;
  font-family: 'Groovy Beach';
}

h1 span {
  background-color: #001e46;
  padding: 20px;
}

h1, p {
  color: #e01b77;
  text-align: center;
}

p {
  font-size: 125%;
  /* text-align: center;
  color: #e01b77; */
}

#content {
  padding: 10px;
}

.minor-section {
  margin-top: -85px;
  padding: 50px;
  border-width: 15px;
  margin-left: 30px;
  margin-right: 30px;
  border-color: #e01b77;
  border-style: groove;
}

.alien {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}